{% extends "GoodData/base.html" %}
{% block contents %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

<div class="header_sub">
	<div class="header_menu">
		<i class="fa fa-hashtag fa-2x"></i>
		<h1>캠페인 리스트</h1>
		<a class="back_btn" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
	</div>
</div>

<div class="notice">
	<p>{{response_data.error}} </p>
</div>

	<div class="content">
		<div class="row">
			{% for imagelist in img_list %} <a class="cam_list"
				href="/project/{{ imagelist.cam_id }}"> 
				<img src="{{ imagelist.image.url }}">
				<p class="cam_p">{{ imagelist.title }}</p>

			</a> {% endfor %}
			
			
			<!-- <form action="{% url 'logout' %}" method="POST">
			{% csrf_token %}
			<input class="btn btn-danger logout_btn" type="submit" value="로그아웃" />
		</form> -->
		</div>
	</div>


<div>
	{% block panel-footer %}
		{% include "GoodData/footer.html" %}
	{% endblock %}
</div>

{% endblock %}